daemon:
  title: "chorus"
  http:
    host: localhost
    port: 5000
    headers:
      access_control_allow_origin: "*"
      access_control_max_age: "600"
  jwt:
    secret: eREH6oV#&6bX&zadL%
    expiration_time: 259200 # 72h
  jobs:
    job_status_gc:
      enabled: true
  private_key_file: ./configs/dev/files/keys/chorus_privkey.pem
  public_key_file: ./configs/dev/files/keys/chorus_pubkey.pem
  salt: primary-2tiptop-violator-6bloating-2coastline-1spearmint-unruffled5-comfy-operation4

storage:
  datastores:
    chorus:
      type: postgres 
      host: 127.0.0.1
      port: 5432
      username: admin
      password: password
      database: chorus
      max_connections: 10
      max_lifetime: 10s
      ssl:
        enabled: false
        certificate_file: /chorus/postgres-certs/client.crt
        key_file: /chorus/postgres-certs/client.key

services:
  index_service:
    key: value
  authentication_service:
    enabled: true
    dev_auth_enabled: true
  mailer_service:
    smtp:
      user: smtpUser
      password: smtpPassword
      host: smtp-relay.sendinblue.com
      port: 587
      authentication: "none"
  workbench_service:
    stream_proxy_enabled: true
    backend_in_k8s: false

clients:
  helm_client:
    kube_config: |
      apiVersion: v1
      clusters:
      - cluster:
          certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURCekNDQWUrZ0F3SUJBZ0lVRHVkSVplRksrVC9QRDk2RDRjOEdCNjU1dlM0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd0VqRVFNQTRHQTFVRUF3d0hhMmx1WkMxallUQWdGdzB5TkRBNE1UUXdOelF3TkRsYUdBOHlNRFV4TVRJegpNVEEzTkRBME9Wb3dFakVRTUE0R0ExVUVBd3dIYTJsdVpDMWpZVENDQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFECmdnRVBBRENDQVFvQ2dnRUJBSThvSnp4WE5aNEVLdmlIc3lKVEdTN0ZMM3dPWkRzYXZCc09vVS9yZ3k3Q0tiL3YKTXlKRFBXYjIyaW51VzNKV1VoWTFmNmpza0hsMHJKdUUzUEJ4MlBHUXljeDRHdzdzb2tYMFVpMjVxR3UvRngvRApiSUluWHc1WHVzTno5dDBneVowSzk2QnFsclJMWlE2eWk2OVJHOW5UMmVPUFczRFZhUTM3QnFCQzFrZjVTUEM0CjAwUStHeXdvL2dvd3IwMVVpYU91MUI3WUduNzY3THF6K0RVaER0aWhNZlRCbG5JSmg2NzZLNlFoOEdkN1dybEQKQW1RYm9ud3ZwaHJ6Y25MVEF1TExVWmswY2NEVkZpNGVRSkFUbHpMSGVsbzBNbVpSNGdDcm50Zmt0ZGFIQUVwUwpnVHpTdmpsaUt5ZU5FMUhRY1k2R0ZwK29QK3R3Vi9rV1VXb1ZLdmtDQXdFQUFhTlRNRkV3SFFZRFZSME9CQllFCkZHcUlFU1lEdHBsMWgvTzhjdU12Y0p2YmpEclBNQjhHQTFVZEl3UVlNQmFBRkdxSUVTWUR0cGwxaC9POGN1TXYKY0p2YmpEclBNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBSXF2K2k4OQpFQUIzMVpaYzhGQWhGVjNQUnFZNG8wWmxTaWpCTmdNSml1NUt3Nk9zcTN1OFRWQ2tSajZaMkxFK3lsZlh3UzZICkpUWlFoTFhYSC8wQ0NWcUlhUld3TkcxQ3E5RDhYbTBwS0FrMGVtS21iekY2Yk53Y2E3NnR6bVljdko3THp2eUMKRmpWNHFzWXFicnpGeHIwcnpvU0IxOWdBTGprZWovWW1sbHYvelczUjRsNE9QTGdWbFBPd1VpV1lmU01SL0ZaeQpPQmRGaWdHcFFWdGdmQldVcWVVRkFrZlI4d1NkVXE5MTMxNzRSeVRpcmlJaXF4YlhlNEdKZHAwUHh2R2N6K0tOCkowaEhBcHpxdXZqZTI3SHZZNlZPTXBSQm9hQTY0ak1zNGJIR0g5aUJSQzJ4TE9ET0d4S0tNbkJoeU9TNUlzcFIKQ1NGRE93Q1ZHdWVuWWpZPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
          server: https://127.0.0.1:41491
        name: kind-chorus
      contexts:
      - context:
          cluster: kind-chorus
          user: kind-chorus
        name: kind-chorus
      current-context: kind-chorus
      kind: Config
      preferences: {}
      users:
      - name: kind-chorus
        user:
          client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURKakNDQWc2Z0F3SUJBZ0lJR1dPczhlcG1xLzR3RFFZSktvWklodmNOQVFFTEJRQXdFakVRTUE0R0ExVUUKQXd3SGEybHVaQzFqWVRBZUZ3MHlOREE0TVRRd056UXdORGxhRncweU5UQTRNVFF3T0RJNU1qbGFNRHd4SHpBZApCZ05WQkFvVEZtdDFZbVZoWkcwNlkyeDFjM1JsY2kxaFpHMXBibk14R1RBWEJnTlZCQU1URUd0MVltVnlibVYwClpYTXRZV1J0YVc0d2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUMzdE4rV0RGemUKKytqd0Q5ZGFPVUxkUlhrZ2R6a01tclF3NktuZnBBdmM1STB3R2dyQmkwTjcvTXhpTnc5dU5iSU4vOUVTZldlcQp1VVJBVHRRVGlhbk1LY1ZQaHB0UjJDSUc0eUpldWgzNlo5OVVaRnlsb3h4amFGc2lqUzRiODlxeDJTWkNUUmdPCklIMFo3OG02Z2VDcld0bzhESTZjbEtpdHpINGVuU0tzdklOVlVQU3ovQmhZUlRNUitDVExWZDQxcWU0bmNoQnYKanpPN0hVWUxHNDNOMXlCQ3hBRENWby9obDh0K0cxTy9oSFZaSSsvMXY1T2NHOStXWkVoSVhUZW53V3RGWE1vdQpQdDBjT1dxdHBOdk9HMEVYYlZmVkF1T3YrenFGWjVUWTlhY0NsSGp2Q3Rsa3UwRGVRYzVjYlNoY2lmVTBIM0RlCmt6UWVNM255UDZWN0FnTUJBQUdqVmpCVU1BNEdBMVVkRHdFQi93UUVBd0lGb0RBVEJnTlZIU1VFRERBS0JnZ3IKQmdFRkJRY0RBakFNQmdOVkhSTUJBZjhFQWpBQU1COEdBMVVkSXdRWU1CYUFGR3FJRVNZRHRwbDFoL084Y3VNdgpjSnZiakRyUE1BMEdDU3FHU0liM0RRRUJDd1VBQTRJQkFRQUhkQ3Z3WHBrYjE2SFFISTM2R09abXlpY29aQkxCCnpGUFQ3dHR2dmJYa1UxK0cwMTZjVjhDUndjWjFlaDR0VitnRFhGUDFQL0RESnZZZEtpNEJDc042K0t5cE9FV3IKWFVIYVljT0RCYnFWYnhrSEI0dHE1OURESU9aWkxDM0xPZ3lzSE9Ga2s1aDBGZjhFRFZ6OW4xNTJFb3pBc21uOQo2NXNiaW0waVJuVGJOeDF5VHUvTUs1L2dCTG9MN0ZLTTVER2lSc3lYQzVWN2ZUeE9kaFZjU0dZVGsyMTdMbUtZClBaazhEcEVOcU5DYXlMUVo3TGpHQTVYZEdOU0M4elpMU1Q3QVVkRGFIQ3lJdzFCNk9ZWEFPYUpCaUUzazRnQ24KTlc2NWdyUGNXT2J1aGZnSHlXeEhpVTZ0UzRNQ005V2V0OUNwS3VIT3pSbkhnUnpJK2pWaWdmQXEKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
          client-key-data: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb2dJQkFBS0NBUUVBdDdUZmxneGMzdnZvOEEvWFdqbEMzVVY1SUhjNURKcTBNT2lwMzZRTDNPU05NQm9LCndZdERlL3pNWWpjUGJqV3lEZi9SRW4xbnFybEVRRTdVRTRtcHpDbkZUNGFiVWRnaUJ1TWlYcm9kK21mZlZHUmMKcGFNY1kyaGJJbzB1Ry9QYXNka21RazBZRGlCOUdlL0p1b0hncTFyYVBBeU9uSlNvcmN4K0hwMGlyTHlEVlZEMApzL3dZV0VVekVmZ2t5MVhlTmFudUozSVFiNDh6dXgxR0N4dU56ZGNnUXNRQXdsYVA0WmZMZmh0VHY0UjFXU1B2CjliK1RuQnZmbG1SSVNGMDNwOEZyUlZ6S0xqN2RIRGxxcmFUYnpodEJGMjFYMVFManIvczZoV2VVMlBXbkFwUjQKN3dyWlpMdEEza0hPWEcwb1hJbjFOQjl3M3BNMEhqTjU4aitsZXdJREFRQUJBb0lCQURtN2loaXB3ZllCek83RQp5N1Q3RWR4Z0hQVHJBdTdISDZIUFBMT2Y1bXFCR1Mzb3dVQ1o5NWRibHcrMnBnN0lxVEJsR050cXRjMmRjNm1TCkhHd1hjMWxLTjB3S3pYMG5JMnB1cnpwOTJ6WDZ0dURhdVpNRWM4TjU1RW96ZkM0a3NMSDd3RjVOeENXTWFFUmkKYTA5RnljbVFQODFuVk5vNGpkb3d6ZUhwR0NDWWhTTFRiNVhCK1JZdG5zSmlpdm1xL3ZrcEpnRDF1VFU4aUZacgp3dEJsSVE3cHhvSGFBaXBCSXlTSnYxOWJoZXowTFNDNHdvOWhTSFpKbm42ZXV5SlpoT3NINnM5WHl4L2VOOTB1CnRDRGQ2UkNxZDM5TndyZGpVY29hc1BQb0ZqcGpLb1NUdUlZeUJLdVBkUHRuditRdko5RE1hQkx5Wm1GUTh5T0kKNU5oVW9XRUNnWUVBeUd4VzRmam1QNHJBZmRZQ1ArcmhqbS9rb0k3dGo4UkhTRGZ4Lzh4Q1QrdXlxcGxxSUtEQgpCRExLMVhQazQrS0NoWWozME0zRm5FaHJETTB3a2N6R3FjVkJGendEKzgwSXVVeVhRSkVpNk1vcTJWeUNBcGg0CkpPTkNqR3F2V1ZOVWNqQzVLVHZWckE5QVRuOW9NdFBnV0htcTI4MFVPai9JbkxEWmdCeEMwU1VDZ1lFQTZxWFoKazd3MW9aMFBITDl6RVd2OVJ4NmRzQnlGOTV1L1JqWTBLSnlFelVWTG5ydktTZUVDTm5IVnRtK3puS2RWMWVZVApIMDIyOHB2bjJoZHhpbXM0L2txTkxyVUt0N1pjeGorZCtNdktFUkFnTzNWeWNVTnRjbENyQk80Yi9hUTlLV05CClVkMGpjUlNZbnpTdUEyVmNmRndod3NCYlpJT04xSG11WkoyamFoOENnWUFWMGUyM2xtQ0M1SGxHZWVrdXlrU2EKUEVaWTBKYStnekQ3aE5PODlLRDNrSUtZSGpHMnNhbXg2bEc0NFhBMit5OFltS3ZhT0x6ZDRlaDlzVTByWW03eQpocjRxYUdkS242em1kNWN6K1ZraW5QZ0RTQllEY0ZRTU9BM0R1YzJ6WE9ZaHRIcEVLZlorVC83QlRRK3NFUE1vCnpyNHlSZWFBM1BiYlVFbXRyK1g2WFFLQmdCZnVhazVpOTZWUCsyYVhNQWtxMWw0V2hVYWM0aHpxeVl0RG8vWXcKWUdyL0VrTlNLOE4xSzJDYUk0M0R2ckhQYnpXdGpXMjM0MXpEQWRhQVpaZ1ViMitmOHQ0OG9LY3o5aXBSK3E2UgpPajZiUW01T0FDb0ZFbmlDT2E3N0NlZkloR1JnTngwK1RJc1A2ckR5RW4xT0xTeVJ5Tyt2NXFKTnVIMWZHNll2ClhhZEpBb0dBVXl2ZHgvRUdmcXlnQjJqb0V3UHQ5VVlCTHpCTWtlWk5SS0pYRnNTbFV4VWh1NUZ1NFh5RWZwMEoKdTJaZnlhYmZzQUFKdXpSU3RTK25DekFVbXJUN2NqaFJHaXhaWXJLcEJoaHhZdEF2aEZGdlRYNzloZXNlbVNWdQpjMkJsekRvMjFnbHhxSmFFcmV2TVV3dHlnd2ovNlAyL0tPbEFaUFRaK0lUdGNMM2hpMEE9Ci0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg==

log:
  loggers:
    stdout_technical:
      level: debug
    stdout_security:
      level: debug
    stdout_business:
      level: debug

