version: '3'
services:
  # chorus:
  #   build:
  #     context: ..
  #     dockerfile: docker/dockerfiles/dev.dockerfile
  #   volumes:
  #     - ..:/workspace:cached
  #     - /run/docker.sock:/run/docker.sock
  #   command: /bin/sh -c "while sleep 1000; do :; done"
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chorus
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ../docker/.postgresvolume:/var/lib/postgresql/data
